<div class="d-flex align-items-center mb-3">
    <p style="font-weight: bold; margin: auto auto 5px 0px"> Social networks </p>
    <%= link_to new_user_social_network_path(@user), method: :get, style:"margin-right:9px", class: "btn btn-success btn-sm" do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
</div>
<table class="table table-borderless">
    <thead>
    </thead>
    <tbody>
        <% @user.social_networks.each do |social_network| %>
            <tr>
                <td>
                    <%= link_to social_network.name, social_network.link%>
                </td>
                <td class="d-flex justify-content-end">
                    <%= link_to edit_user_social_network_path(@user, social_network), method: :get, class:"btn btn-sm btn-outline-warning" do%>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to user_social_network_path(@user, social_network), method: :delete, style:"margin-left:5px", class:"btn btn-sm btn-outline-danger ml-3", data: {confirm: "Are you sure?"} do%>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>